<web-app>
<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>First</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>First</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Second</servlet-name>
<servlet-class>Difference</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Second</servlet-name>
<url-pattern>/difference</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Third</servlet-name>
<servlet-class>RecruiterRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Third</servlet-name>
<url-pattern>/registerrecruiter</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Fourth</servlet-name>
<servlet-class>JobseekerRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Fourth</servlet-name>
<url-pattern>/registerjobseeker</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Five</servlet-name>
<servlet-class>RedirectUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Five</servlet-name>
<url-pattern>/redirectuser</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Six</servlet-name>
<servlet-class>JobseekerChangePassword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Six</servlet-name>
<url-pattern>/jobseekerchangepassword</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Seven</servlet-name>
<servlet-class>JobseekerChangePasswordReal</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Seven</servlet-name>
<url-pattern>/cpass</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Eight</servlet-name>
<servlet-class>RecruiterChangePassword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Eight</servlet-name>
<url-pattern>/recruiterchangepassword</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Nine</servlet-name>
<servlet-class>RecruiterChangePasswordReal</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Nine</servlet-name>
<url-pattern>/crpass</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Ten</servlet-name>
<servlet-class>RecruiterEditProfile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Ten</servlet-name>
<url-pattern>/recruitereditprofile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Eleven</servlet-name>
<servlet-class>JobseekerEditProfile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Eleven</servlet-name>
<url-pattern>/jobseekereditprofile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Twelve</servlet-name>
<servlet-class>RecruiterAddJob</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Twelve</servlet-name>
<url-pattern>/addjob</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Thirteen</servlet-name>
<servlet-class>AddQuestion</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Thirteen</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Fourteen</servlet-name>
<servlet-class>JobseekerSearchJobs</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Fourteen</servlet-name>
<url-pattern>/JobseekerSearchJobs</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Fifteen</servlet-name>
<servlet-class>JobseekerApplyJob</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Fifteen</servlet-name>
<url-pattern>/applytojob</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Sixteen</servlet-name>
<servlet-class>JobseekerApplyJob</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Sixteen</servlet-name>
<url-pattern>/apply</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Seventeen</servlet-name>
<servlet-class>JobseekerEditProfile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Seventeen</servlet-name>
<url-pattern>/jobseekerchangeprofile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Eighteen</servlet-name>
<servlet-class>RecruiterEditProfile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Eighteen</servlet-name>
<url-pattern>/recruiterchangeprofile</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Nineteen</servlet-name>
<servlet-class>JobseekerSearchJobsKeyword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Nineteen</servlet-name>
<url-pattern>/searchbykeyword</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Twenty</servlet-name>
<servlet-class>JobseekerViewAppliedJobs</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Twenty</servlet-name>
<url-pattern>/viewappliedjobs</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentyOne</servlet-name>
<servlet-class>TellResult</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentyOne</servlet-name>
<url-pattern>/myresultplease</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentyTwo</servlet-name>
<servlet-class>RecuriterJobReference</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentyTwo</servlet-name>
<url-pattern>/gogetref</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentyThree</servlet-name>
<servlet-class>RecruiterPostedJobs</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentyThree</servlet-name>
<url-pattern>/postedjobs</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentyFour</servlet-name>
<servlet-class>RecruiterAction</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentyFour</servlet-name>
<url-pattern>/recruiteraction</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentyFive</servlet-name>
<servlet-class>RecruiterSendMessage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentyFive</servlet-name>
<url-pattern>/message</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentySix</servlet-name>
<servlet-class>JobseekerInbox</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentySix</servlet-name>
<url-pattern>/inbox</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentySeven</servlet-name>
<servlet-class>AdminJobs</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentySeven</servlet-name>
<url-pattern>/AdminJobs</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentyEight</servlet-name>
<servlet-class>AdminJobsKeyword</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentyEight</servlet-name>
<url-pattern>/adminsearchbykeyword</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TwentyNine</servlet-name>
<servlet-class>AdminJobseekerDetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TwentyNine</servlet-name>
<url-pattern>/AdminJobseekerDetails</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Thirty</servlet-name>
<servlet-class>AdminRecruiterDetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Thirty</servlet-name>
<url-pattern>/AdminRecruiterDetails</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ThirtyOne</servlet-name>
<servlet-class>AdminSelectedCanditates</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ThirtyOne</servlet-name>
<url-pattern>/adminlist</url-pattern>
</servlet-mapping>
</web-app>
